/* Customizations
-------------------------------------------------- */

#LinkedIn:hover{
  background-color: #007bb6;
  border-radius: 6px;
}
#Angellist:hover{
  background-color: #A9A9A9;
  border-radius: 6px;
}
#Facebook:hover{
  background-color: #3B5998;
  border-radius: 6px;
}
#Youtube:hover{
  background-color: #bb0000;
  border-radius: 6px;
}
#Vimeo:hover{
  background-color: #aad450;
  border-radius: 6px;
}
#Soundcloud:hover{
  background-color: #FF6600;
  border-radius: 6px;
}
#Wordpress:hover{
  background-color: #21759b;
  border-radius: 6px;
}
#Github:hover{
  background-color: #4183c4;
  border-radius: 6px;
}

h1.maintitle {
  width: auto;
  padding-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 60px;
  color:black; /* black */
  opacity: 0.9;
}
h1.maintitle a {
  color: inherit;
  opacity: 0.6;
  transition: color 0.15s ease-out;
  -webkit-transition: color 0.75s ease-out;
}
h1.maintitle a:hover {
  opacity: 1;
}

.boxsize,
.boxsize:before,
.boxsize:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a.projentrylink {
  text-decoration: none;
}
a.projentrylink:link {
  color: #96AB12;
  text-decoration: none;
}

/* unvisited link */
a.projentrylink:visited {
  color: #96b09c;
  text-decoration: none;
}
/* visited link */
a.projentrylink:hover {
  color: #96b09c;
  text-decoration: none;
}
/* mouse over link */
div.projentry {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 24px 12px;
  border-top: 1px solid #c0c0c0;
  transition: padding 0.2s ease-out, background 0.2s ease-out;
  -webkit-transition: padding 0.2s ease-out, background 0.2s ease-out;
}
div.projentry:before,
div.projentry:after {
  content: " ";
  display: table;
}
div.projentry:after {
  clear: both;
}
div.projentry div#imgwrapper {
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 24px;
}
div.projentry div#imgwrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #fdfdfd;
  border: 1px solid #c0c0c0;
  padding: 6px;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
div.projentry div#contentwrapper {
  width: 100%;
  float: right;
}
div.projentry div#contentwrapper h2 {
  margin-top: 0;
  color: goldenrod;/* golden rod */
  
}
div.projentry:hover {
  background: rgba(0, 0, 0, 0.05);
}
div.projentry:hover div#contentwrapper p {
  color:  goldenrod;/* golden rod */
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
}
div.projentry div#imgwrapper {
    height: auto;
    width: 35%;
}
div.projentry div#imgwrapper img {
  margin: 0;
  width: 100%;
  height: auto;
}
div.projentry div#contentwrapper {
  width: 60%;
}
div.projentry div#contentwrapper p.projentrytext {
  font-size: 16px;
}
div.projentry:hover {
  padding-top: 36px;
  padding-bottom: 12px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.glyphicon-index {
    font-size:600%;
}

.page-header-custom {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

/* Sticky footer custom styles from bootstrap
-------------------------------------------------- */

html,
body {
  height: 100%;
  color:  #008080;
  background: #384047;
  /* The html and body elements cannot have any padding or margin. */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,.9);
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: fixed;
}

#myBtn:hover {
  color: goldenrod;/* golden rod */
  border-color: #24292e;
  transition: color 0.15s ease-out;
  -webkit-transition: color 0.75s ease-out;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 18px 0;
}

.page_breaker {
  max-width: 100%;
  background-color: #DCDCDC;
}

.li_lead {
  text-align: justify;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.li_lead_space {
  text-align: justify;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.8;
}

.lead_md {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
}

/* Navbar custom themes
-------------------------------------------------- */

body {
  padding-top: 50px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* Images
-------------------------------------------------- */

img.centerimg{
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
}

img.centerimg_bare{
  margin-left: auto;
  margin-right: auto;
}

img.centerimg_md{
  max-width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c0c0c0;
  padding: 6px;
}

img.centerimg_lg{
  max-width:300px;
  display: block;
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
}

img.leftimg{
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-right: 30px;
  margin-bottom: 15px;
  float:left;
}

img.leftimg_sm{
  max-width: 150px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-right: 30px;
  margin-bottom: 15px;
  float:left;
}

img.leftimg_md{
  max-width: 250px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-right: 30px;
  margin-bottom: 15px;
  float:left;
}

img.leftimg_lg{
  max-width: 300px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-right: 30px;
  margin-bottom: 15px;
  float:left;
}

img.rightimg{
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-left: 30px;
  margin-bottom: 15px;
  float:right;
}

img.rightimg_sm{
  max-width: 150px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-left: 30px;
  margin-bottom: 15px;
  float:right;
}

img.rightimg_md{
  max-width: 250px;
  margin-left: 30px;
  margin-bottom: 15px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  float:right;
}

img.rightimg_lg{
  max-width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  float:right;
}

/* Videos
-------------------------------------------------- */

div.videowrapper {
  display: inline;
  float: center;
  margin: 0 1.0416666666666665%;
}

.caption {
  margin-left: auto;
  margin-right: auto;
  color:black;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.center_video {
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #000000;
}

.center_video_pad {
    border: 1px solid #c0c0c0;
    padding: 6px;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background-color: #000000;
}

/* btn that looks like an icon
-------------------------------------------------- */

.btn-fake {
    color: black;
    background-color: transparent;
    padding: 0px;
}
.btn-fake:hover,
.btn-fake:focus,
.btn-fake:active,
.btn-fake.active,
.open .dropdown-toggle.btn-fake {
  color: goldenrod; /* golden rod */
  transition: color 0.15s ease-out;
  -webkit-transition: color 0.75s ease-out;
}

.popover-content > ul {
  margin-bottom: 0px;
  padding-inline-start: 15px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: inherit;
}